*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:100vh;
    background:rgb(230, 226, 226);
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    width: 17em;
    border-radius: 1em;
    background-color: whitesmoke;
    box-shadow: .4em .4em 1em,
    -.4em -.4em 1em;
}
#text{
    width: 15em;
    margin: 1em;
    padding:1em;
    border: 2px solid;
    background: rgb(41, 41, 219);
    border-radius: 1em;
    color: white;
    opacity: .9;
    font-size: 1.2em;
    text-transform: capitalize;
}
input{
    width: 4em;
    height: 1.2em;
    font-size: 1.2em;
    padding: .4em;
    border:2px solid green;
}
button{
    display: block;
    margin: 1em;
    width: 5em;
    padding:.6em;
    border: none;
    font-size: 1em;
    color: white;
    border-radius: .2em;
    font-weight: 500;
}
label{
    font-size: 1.4em;
}

#play-button{
    background-color: green;
}
#pause-button{
    background-color: orange;
}
#stop-button{
    background-color:red;
}