*{
    margin: 0;
    box-sizing: border-box;
   
}
// section{
//     max-width: 30em;
// }
// .flex-center-row{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap:10px;
// }

// .flex-center-column{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
  
// }
// input{
//     margin: .5em;
// }

// #budget-form{
// border: 1px solid blue;
// max-width: 30rem;
// padding: 1em;
// position: relative;


// input[type=number] {
//     -moz-appearance: textfield;
//     display: block;
//     padding: .4rem;
//     width:80% ;
 
//   }
//   #budget-feedback{
//       width: 70%;
//       border: none;
//       height: 3em;
//       background: rgb(202, 93, 93);
//       opacity: .7;
    
//   }
//   .hide{
//       visibility: hidden;
//   }
//   .show-item{
//     visibility: visible;
// }


// }

// #expense-form{
//     border: 1px solid red;
//     max-width: 30rem;
//     padding: 1em;
//     margin-top: 1em;
//     #expense-feedback{
//         width: 70%;
//         border: none;
//         height: 3em;
//         background: rgb(202, 93, 93);
//         opacity: .7;
      
//     }
//     .hide{
//         visibility: hidden;
//     }
//     .show-item{
//       visibility: visible;
//   }
//     input[type=text]{
//         display: block;
//         padding: .4rem;
//         width:80% ;
//     }
//     input[type=number] {
//         -moz-appearance: textfield;
//         display: block;
//         padding: .4rem;
//         width:80% ;
     
//       }
    
    
// }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&display=swap');
// font-family: 'Lato', sans-serif;

// font-family: 'Noto Sans JP', sans-serif;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #000;
}
h1,h2,h3{
    font-family:'Lato', sans-serif ;
}
.flex-row{
  display: flex;
  text-transform: capitalize;
  gap:1em;
}
input{
    width: 10em;
    border-radius: 1em;
    border: none;
    margin: .5em;
    padding: .4em;
    // border: 2px solid ;
}
input[type=submit]{
    width: 7em;
    padding: .5em;
    background-color:green;
    color: white;
    font-size: .9em;
    font-weight: 600;
}
input[type=number] {
    -moz-appearance: textfield;
    display: block;
    // padding: .4rem;
    width:10em ;
    border: 2px solid ;
  }
  input[type=text]{
    border: 2px solid ;  
  }
label{
    display: block;
    font-size: 1.2em;
    font-family:'Noto Sans JP', sans-serif ;
}
header{
    padding: 1em;
    color: white;
   font-family: 'Lato', sans-serif;
   font-size: 2em;
}
#budget-form{
    padding: 2em;
    margin: .8em;
    height: 10em;
    border-radius: 1em;
    background-color:#A73489 ;
       .hide{
                visibility: hidden;
            }
      .show-item{
              visibility: visible;
          }

}
#expense-form{
    padding: 2em;
    margin: .8em;
    border-radius: 1em;
    background-color: #FF3D68;
    .hide{
        visibility: hidden;
    }
.show-item{
      visibility: visible;
  }

}
#total-feedback{
    padding: 2em;
    margin: .8em;
    border: 2px solid;
    border-radius: 1em;
    background-color: white;
    .space{
        justify-content: space-between;
    }
}
#expense-list{
    margin: .8em;
    padding: 2em;
    background-color:#FF6767;
    border-radius: 1em;
    .gap{
        gap: 4em;
    }
}

@media screen  and (min-width:620px){
    main{
        display: grid;
        grid-template-columns: 25em 25em;
    }
    #expense-form{ 
        grid-area: 2/1/3/2;

    }
} 